.page {
  min-height: 100vh;
  background-image: url('/Picture.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding-top: 436px;
}
@media (min-resolution: 2x) {
  .page {
    background-image: url(/Picture@2x.jpg);
  }
}

.title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  text-align: center;
  color: #fff;
}

.subtitle {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #fff;
  margin-top: 16px;
}

.catalog {
  margin-top: 40px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  border-radius: 12px;
  width: 276px;
  height: 44px;
  background: #00aad4;
  display: flex;
  justify-content: center;
  align-items: center;
}